/* Tim Parsons
 * 10/20/2016
 * Layout sass file - Used many elements from http://getskeleton.com/
 *
 *
*/

/* Define color scheme
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$colorscheme-1: #C1AE7C;
$colorscheme-2: #E16F7C;
$colorscheme-3: #DD5E98;
$colorscheme-4: #CC4BC2;
$colorscheme-5: #6C3A5C;


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

.color1-background { background-color: $colorscheme-1;}
.color2-background { background-color: $colorscheme-2;}
.color3-background { background-color: $colorscheme-3;}
.color4-background { background-color: $colorscheme-4;}
.color5-background { background-color: $colorscheme-5;}

.round {
  border-radius: 4px;
}

.shadow {
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-weight: 400; }
h1 { font-size: 38px; line-height: 1.2;  letter-spacing: -.1rem; }
h2 { font-size: 34px; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 30px; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 26px; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 22px; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 18px; line-height: 1.6;  letter-spacing: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $colorscheme-5; }
a:hover {
  color: $colorscheme-1; }



/* Main Things
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: #EEE;
  }

  /* Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .header {
    overflow: visible;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    color: white;
    .navBar {
      .mobile-nav {
        width: 100%;
        display: inline-flex;
        .myName {
          h3 {
            padding: 8px;
            margin-left: 20px;
          }
        }
        .menu-icon {
          width: 100%;
          position: relative;
          i {
            color: $colorscheme-5;
            margin-right: 10px;
            margin-top: 13px;
            box-sizing: border-box;
            cursor: pointer;
            padding: 10px;
            float: right;
          }
        }
        .mobile-menu {
          display: none;
          position: fixed;
          width: inherit;
          height: 100%;
          z-index: 5000;
          .window {
            min-width: 210px;
            background-color: white;
            position: fixed;
            left: 15px;
            top: 20px;
            bottom: 20px;
            right: 15px;
            width:auto;
            height: auto;
            padding: 10px;
            color: $colorscheme-3;

            .title-bar {
              display: inline-flex;
              color: $colorscheme-5;
              width: 100%;
              .exit-container {
                width: 100%;
                i {
                  float: right;
                  position: relative;
                }
                i:hover {
                  cursor: pointer;
                }
              }
            }

            hr {
              border: 1px solid $colorscheme-5;
            }

            .window-contents {
              padding: 10px;
              h4 {
                min-width: 200px;
                margin-top: 8px;
                margin-bottom: 35px;
                a {
                  display: inline-flex;
                  color: $colorscheme-3;
                  text-decoration: none;
                  div:first-child {
                    width: 65px;
                    i {
                      margin-right: 15px;
                    }
                  }
                  div:nth-child(2) {
                    line-height: 65px;
                  }

                }
                a:hover {
                  color: $colorscheme-5;
                }
              }
            }
          }
        }
      }
      .desktop-nav {
        display: none;
      }
    }



    .header-background {
      bottom: 650px;
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;
      will-change: transform;
      // background: -webkit-linear-gradient(left,$colorscheme-5,$colorscheme-2);
      // background: linear-gradient(90deg,$colorscheme-5,$colorscheme-2);
      transform: skewY(6deg);
      z-index: 0;
    }

    .header-background-trim {
      bottom: 650px;
      position: absolute;
      height: 5555px;
      width: 100%;
      overflow: hidden;
      will-change: transform;
      transform: skewY(6deg);
      z-index: -1;
    }

    .t1 {
    background: -webkit-linear-gradient(left,$colorscheme-3,$colorscheme-4);
    background: linear-gradient(90deg,$colorscheme-3,$colorscheme-4);
    animation: fadein 4s 1s infinite;}
    .t2 {
    background: -webkit-linear-gradient(left,$colorscheme-4,$colorscheme-1);
    background: linear-gradient(90deg,$colorscheme-4,$colorscheme-1);
    animation: fadein 4s 2s infinite;}
    .t3 {
    background: -webkit-linear-gradient(left,$colorscheme-1,$colorscheme-2);
    background: linear-gradient(90deg,$colorscheme-1,$colorscheme-2);
    animation: fadein 4s 3s infinite;}
    .t4 {
    background: -webkit-linear-gradient(left,$colorscheme-2,$colorscheme-3);
    background: linear-gradient(90deg,$colorscheme-2,$colorscheme-3);
    animation: fadein 4s 4s infinite;}
  }

  @keyframes fadein {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }



  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }



    .container {
      position: relative;
      width: 100%;
      // max-width: 960px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box; }
    .column,
    .columns {
      width: 100%;
      float: left;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      overflow: hidden;
      box-sizing: border-box; }



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
/*media with width 400px - 550px*/
@media (min-width: 400px) {
  .container {
  }
}


/* Larger than phablet (also point when grid becomes active) */
/*media with width 550px - 750px*/
@media (min-width: 550px) {
  .header {
    margin-bottom: 150px;
    .navBar {
      color: white;
      .mobile-nav {
        display: none;
      }
      .desktop-nav {
        width: 100%;
        display: inline-flex;
        .myName {
          h3 {
            padding: 15px;
            margin-left: 20px;
          }
        }
        .primary-section {

        }
        .secondary-section {
          width: 100%;
          position: relative;
          ul {
            padding: 5px;
            float: right;
            list-style: none;
            display: inline-flex;
            margin-right: 15px;
            li {
              padding: 5px;
              margin-left: 5px;
              margin-right: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .header-background      { bottom: 550px; }
    .header-background-trim { bottom: 550px; }
  }

  .container {
    // width: 80%;
  }
  .column,
  .columns {
    margin-left: 10px;
   }
  .column:first-child,
  .columns:first-child {
    margin-left: 10px; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }



  .container {
  }
  h1 { font-size: 44px; line-height: 1.2;  letter-spacing: -.1rem; }
  h2 { font-size: 40px; line-height: 1.25; letter-spacing: -.1rem; }
  h3 { font-size: 36px; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 32px; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 28px; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 20px; line-height: 1.6;  letter-spacing: 0; }


}

/* Larger than tablet */
/*media with width 750px - 1000px*/
@media (min-width: 750px) {
  .container {
  }
}

/* Larger than desktop */
/*media with width 1000px - 1200px*/
@media (min-width: 1000px) {
  .container {
  }
}

/* Larger than Desktop HD */
/*media with width 1200px - *px */
@media (min-width: 1200px) {
  .container {
  }
}
